#root {
  width: 90rem;
  height: auto;
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
}

h1 {
  font-family: "Belanosima", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  position: absolute;
  top: 0;
  margin-top:25rem;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
  cursor: default;
}

h1:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position 0.7s, background-size 0.5s ease-in-out;
}
